.auth-bg {
  background-image: url("../../../assets/images/auth-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  position: relative;
}
